.grid{
    display: grid;
    grid-template-columns: repeat(7, 110px);
    grid-template-rows: repeat(6, 110px);
    width:770px;
    height:660px;
    margin: 0 auto;
    justify-content: center;
    background-color: black;
}

.cell{
    border:5px solid black;
    background-color: white;
    border-radius: 50%;
    outline: 5px solid black;
}

.cell:hover{
    background-color: lightgreen;
}

.score{
    display:flex;
    position:fixed;
    font-size: 100px;
    top: 75%;
    left: 47%;
}

.score1{
    color:red;
    -webkit-text-stroke: 1px black;
}

.score2{
    color:yellow;
    -webkit-text-stroke: 1px black;
}

p {
    display:flex;
    position:fixed;
    top: 90%;
    left: 1%;
}
